In [ ]:
Contents
1. Import libraries
2. Import data
3. Find aggregated mean of the 'order_number' column grouped by 'department_id' for entire dataframe.
4. Create a loyalty flag for existing customers using transform() and loc() functions.
5. Check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer).
6. Create a spending flag for each user based on the average price across all their orders.
7. Create a frequency flag that marks the regularity of a user's ordering behavior according to the median in the 'days_since_prior_order' column.

01.  Importing libraries

In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os

02. Importing data

In [4]:
#Importing data
ords_prods_merge = pd.read_pickle(r'C:\Users\kelly\OneDrive\Desktop\Prepared Data\ords_prods_merge.pkl')

#2 - Find aggregated mean of the 'order_number' column grouped by 'department_id' for entire dataframe.

In [6]:
ords_prods_merge.groupby('department_id')

In [7]:
ords_prods_merge.groupby ('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                16.559358
2                18.413176
3                18.279600
4                18.915890
5                16.497751
6                17.609390
7                18.303975
8                16.383301
9                17.022963
10               21.227447
11               17.311768
12               16.953613
13               17.727470
14               17.898097
15               17.290123
16               18.757796
17               16.808683
18               20.336389
19               18.258620
20               17.578959
21               23.644477

#3. Analyze the result.
The department with an ID of 21 has the highest mean at around 24.  The department with an ID of 8 has the lowest mean at around 16.  There are several department ID's with the mean of around 17 or 18 (13).

#4. Create a loyalty flag for existing customers using transform() and loc() functions.

In [8]:
ords_prods_merge.groupby('user_id')

In [9]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [10]:
ords_prods_merge.head(15)

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,...,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest days,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,1,1,2398795,2398795,prior,2,3,7,15.0,196,...,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Regularly days,Average Orders,2,New customer
1,2,2,473747,473747,prior,3,3,12,21.0,196,...,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Regularly days,Most Orders,3,New customer
2,3,3,2254736,2254736,prior,4,4,7,29.0,196,...,77,7,9.0,Mid-range product,Least busy,Slowest days,Regularly days,Average Orders,4,New customer
3,4,4,431534,431534,prior,5,4,15,28.0,196,...,77,7,9.0,Mid-range product,Least busy,Slowest days,Regularly days,Most Orders,5,New customer
4,5,5,3367565,3367565,prior,6,2,7,19.0,196,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly days,Average Orders,6,New customer
5,6,6,550135,550135,prior,7,1,9,20.0,196,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Regularly days,Most Orders,7,New customer
6,7,7,3108588,3108588,prior,8,1,14,14.0,196,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Regularly days,Most Orders,8,New customer
7,8,8,2295261,2295261,prior,9,1,16,0.0,196,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Regularly days,Most Orders,9,New customer
8,9,9,2550362,2550362,prior,10,4,8,30.0,196,...,77,7,9.0,Mid-range product,Least busy,Slowest days,Regularly days,Average Orders,10,New customer
9,144,144,2968173,2968173,prior,15,1,9,7.0,196,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Regularly days,Most Orders,15,Regular customer
10,146,146,1870022,1870022,prior,17,2,16,8.0,196,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly days,Most Orders,17,Regular customer
11,147,147,1911383,1911383,prior,18,2,11,7.0,196,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly days,Most Orders,18,Regular customer
12,150,150,2715276,2715276,prior,21,1,9,7.0,196,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Regularly days,Most Orders,21,Regular customer
13,151,151,487368,487368,prior,22,1,10,14.0,196,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Regularly days,Most Orders,22,Regular customer
14,209,209,2293453,2293453,prior,2,5,14,6.0,196,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly days,Most Orders,2,New customer

In [11]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [12]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [13]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [14]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

New customer        13709632
Regular customer    13212690
Loyal customer       3406441
Name: loyalty_flag, dtype: int64

In [15]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0   2398795      New customer             2
1    473747      New customer             3
2   2254736      New customer             4
3    431534      New customer             5
4   3367565      New customer             6
5    550135      New customer             7
6   3108588      New customer             8
7   2295261      New customer             9
8   2550362      New customer            10
9   2968173  Regular customer            15
10  1870022  Regular customer            17
11  1911383  Regular customer            18
12  2715276  Regular customer            21
13   487368  Regular customer            22
14  2293453      New customer             2
15  1973799      New customer             5
16   532817      New customer             7
17  1573906      New customer            10
18  1593000      New customer            10
19  2231262  Regular customer            17
20  2580647      New customer             6
21  2187180      New customer             9
22  1318871      New customer             2
23  1261384      New customer             3
24   580568      New customer             5
25  2428073      New customer             7
26   342306      New customer             9
27  1520353      New customer            10
28  2542086  Regular customer            11
29   944694  Regular customer            12
30  1268191  Regular customer            15
31  1122089  Regular customer            17
32  1498922  Regular customer            18
33   180919  Regular customer            19
34  2695875  Regular customer            21
35   970922      New customer             2
36   596585      New customer             3
37  2037087      New customer             4
38  2474111      New customer             5
39  1568481      New customer             6
40  2048527      New customer             8
41  2389031      New customer             9
42  2378562      New customer            10
43  1515698  Regular customer            11
44  1928050  Regular customer            12
45  1949274  Regular customer            13
46   551869  Regular customer            14
47   768572  Regular customer            16
48   150528  Regular customer            18
49    29758  Regular customer            19
50  1558976  Regular customer            21
51   863974  Regular customer            22
52  2308399  Regular customer            23
53  2759128      New customer             3
54  1812985      New customer             5
55   499460      New customer             3
56  2728456      New customer             4
57  2653743      New customer             6
58  1358880      New customer             9
59   343588      New customer            10

#5. Check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer).

In [17]:
ords_prods_merge[['loyalty_flag', 'prices']].head

<bound method NDFrame.head of               loyalty_flag  prices
0             New customer     9.0
1             New customer     9.0
2             New customer     9.0
3             New customer     9.0
4             New customer     9.0
...                    ...     ...
30328758  Regular customer     3.7
30328759      New customer     6.9
30328760  Regular customer    13.5
30328761      New customer    13.5
30328762      New customer     5.1

[30328763 rows x 2 columns]>

#6. Create a spending flag for each user based on the average price across all their orders.

In [18]:
ords_prods_merge.groupby('user_id')

In [19]:
ords_prods_merge['spend_habits'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [20]:
ords_prods_merge.head(15)

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,...,department_id,prices,price_range_loc,busiest_day,busiest days,busiest_days,busiest_period_of_day,max_order,loyalty_flag,spend_habits
0,1,1,2398795,2398795,prior,2,3,7,15.0,196,...,7,9.0,Mid-range product,Regularly busy,Slowest days,Regularly days,Average Orders,2,New customer,5.900000
1,2,2,473747,473747,prior,3,3,12,21.0,196,...,7,9.0,Mid-range product,Regularly busy,Slowest days,Regularly days,Most Orders,3,New customer,5.640000
2,3,3,2254736,2254736,prior,4,4,7,29.0,196,...,7,9.0,Mid-range product,Least busy,Slowest days,Regularly days,Average Orders,4,New customer,5.200000
3,4,4,431534,431534,prior,5,4,15,28.0,196,...,7,9.0,Mid-range product,Least busy,Slowest days,Regularly days,Most Orders,5,New customer,7.125000
4,5,5,3367565,3367565,prior,6,2,7,19.0,196,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly days,Average Orders,6,New customer,6.250000
5,6,6,550135,550135,prior,7,1,9,20.0,196,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Regularly days,Most Orders,7,New customer,5.800000
6,7,7,3108588,3108588,prior,8,1,14,14.0,196,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Regularly days,Most Orders,8,New customer,6.700000
7,8,8,2295261,2295261,prior,9,1,16,0.0,196,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Regularly days,Most Orders,9,New customer,6.700000
8,9,9,2550362,2550362,prior,10,4,8,30.0,196,...,7,9.0,Mid-range product,Least busy,Slowest days,Regularly days,Average Orders,10,New customer,7.011111
9,144,144,2968173,2968173,prior,15,1,9,7.0,196,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Regularly days,Most Orders,15,Regular customer,5.466667
10,146,146,1870022,1870022,prior,17,2,16,8.0,196,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly days,Most Orders,17,Regular customer,4.350000
11,147,147,1911383,1911383,prior,18,2,11,7.0,196,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly days,Most Orders,18,Regular customer,9.000000
12,150,150,2715276,2715276,prior,21,1,9,7.0,196,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Regularly days,Most Orders,21,Regular customer,5.450000
13,151,151,487368,487368,prior,22,1,10,14.0,196,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Regularly days,Most Orders,22,Regular customer,6.000000
14,209,209,2293453,2293453,prior,2,5,14,6.0,196,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly days,Most Orders,2,New customer,8.022222

In [21]:
ords_prods_merge.loc[ords_prods_merge['spend_habits']<10, 'spending_flag'] = 'Low Spender'

In [22]:
ords_prods_merge.loc[ords_prods_merge['spend_habits']>=10, 'spending_flag'] = 'High Spender'

In [23]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low Spender     28731524
High Spender     1597239
Name: spending_flag, dtype: int64

#7. Create a frequency flag that marks the regularity of a user's ordering behavior according to the median in the 'days_since_prior_order' column.

In [24]:
ords_prods_merge.groupby('user_id')

In [25]:
ords_prods_merge['ordering_behavior'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [26]:
ords_prods_merge.head(15)

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,...,price_range_loc,busiest_day,busiest days,busiest_days,busiest_period_of_day,max_order,loyalty_flag,spend_habits,spending_flag,ordering_behavior
0,1,1,2398795,2398795,prior,2,3,7,15.0,196,...,Mid-range product,Regularly busy,Slowest days,Regularly days,Average Orders,2,New customer,5.900000,Low Spender,15.0
1,2,2,473747,473747,prior,3,3,12,21.0,196,...,Mid-range product,Regularly busy,Slowest days,Regularly days,Most Orders,3,New customer,5.640000,Low Spender,21.0
2,3,3,2254736,2254736,prior,4,4,7,29.0,196,...,Mid-range product,Least busy,Slowest days,Regularly days,Average Orders,4,New customer,5.200000,Low Spender,29.0
3,4,4,431534,431534,prior,5,4,15,28.0,196,...,Mid-range product,Least busy,Slowest days,Regularly days,Most Orders,5,New customer,7.125000,Low Spender,28.0
4,5,5,3367565,3367565,prior,6,2,7,19.0,196,...,Mid-range product,Regularly busy,Regularly busy,Regularly days,Average Orders,6,New customer,6.250000,Low Spender,19.0
5,6,6,550135,550135,prior,7,1,9,20.0,196,...,Mid-range product,Regularly busy,Busiest days,Regularly days,Most Orders,7,New customer,5.800000,Low Spender,20.0
6,7,7,3108588,3108588,prior,8,1,14,14.0,196,...,Mid-range product,Regularly busy,Busiest days,Regularly days,Most Orders,8,New customer,6.700000,Low Spender,14.0
7,8,8,2295261,2295261,prior,9,1,16,0.0,196,...,Mid-range product,Regularly busy,Busiest days,Regularly days,Most Orders,9,New customer,6.700000,Low Spender,0.0
8,9,9,2550362,2550362,prior,10,4,8,30.0,196,...,Mid-range product,Least busy,Slowest days,Regularly days,Average Orders,10,New customer,7.011111,Low Spender,30.0
9,144,144,2968173,2968173,prior,15,1,9,7.0,196,...,Mid-range product,Regularly busy,Busiest days,Regularly days,Most Orders,15,Regular customer,5.466667,Low Spender,7.0
10,146,146,1870022,1870022,prior,17,2,16,8.0,196,...,Mid-range product,Regularly busy,Regularly busy,Regularly days,Most Orders,17,Regular customer,4.350000,Low Spender,8.0
11,147,147,1911383,1911383,prior,18,2,11,7.0,196,...,Mid-range product,Regularly busy,Regularly busy,Regularly days,Most Orders,18,Regular customer,9.000000,Low Spender,7.0
12,150,150,2715276,2715276,prior,21,1,9,7.0,196,...,Mid-range product,Regularly busy,Busiest days,Regularly days,Most Orders,21,Regular customer,5.450000,Low Spender,7.0
13,151,151,487368,487368,prior,22,1,10,14.0,196,...,Mid-range product,Regularly busy,Busiest days,Regularly days,Most Orders,22,Regular customer,6.000000,Low Spender,14.0
14,209,209,2293453,2293453,prior,2,5,14,6.0,196,...,Mid-range product,Regularly busy,Regularly busy,Regularly days,Most Orders,2,New customer,8.022222,Low Spender,6.0

In [27]:
ords_prods_merge.loc[ords_prods_merge['ordering_behavior']>20, 'order_frequency_flag'] = 'Non-frequent Customer'

In [28]:
ords_prods_merge.loc[(ords_prods_merge['ordering_behavior']>10) & (ords_prods_merge['ordering_behavior']<=20), 'order_frequency_flag'] = 'Regular Customer'

In [30]:
ords_prods_merge.loc[ords_prods_merge['ordering_behavior']<=10, 'order_frequency_flag'] = 'Frequent Customer'

In [31]:
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

Frequent Customer        19042466
Regular Customer          6055803
Non-frequent Customer     5230494
Name: order_frequency_flag, dtype: int64

In [32]:
ords_prods_merge.to_pickle(r'C:\Users\kelly\OneDrive\Desktop\Prepared Data/ords_prods_merge_v2.pkl')